@import "../../styles/theme/default";
@import "../../styles/mixins/clearfix";

$prefixCls: #{$prefix}-card !default;

.#{$prefixCls} {
  margin: 0;
  padding: 0;
  font-size: $card-font-size;
  background: $card-background;
  transition: all .2s;
  border-radius: $card-radius;
  position: relative;
}

.#{$prefixCls}-bordered {
  border: $card-border;
}

.#{$prefixCls}-hover {
  &:hover {
    border-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
}

.#{$prefixCls}-head {
  padding: 0 $card-body-padding;
  min-height: 48px;
  border-bottom: $card-border;
  margin-bottom: -1px;
  border-radius: $card-radius $card-radius 0 0;
  background: $card-head-background;
  zoom: 1;
  font-size: 16px;

  @include clearfix();

  &-wrapper {
    display: flex;
    align-items: center;

    .#{$prefixCls}-head-title {
      display: inline-block;
      flex: 1;
      color: $card-head-color;
      padding: $card-head-padding 0;
      font-weight: 500;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .#{$prefixCls}-head-extra {
      float: right;
      margin-left: auto;
      padding: $card-head-padding 0;
      font-size: 14px;
      font-weight: normal;
    }
  }
}

.#{$prefixCls}-cover {
  img {
    border-radius: $card-radius $card-radius 0 0;
  }

  * {
    display: block;
    width: 100%;
  }
}

.#{$prefixCls}-body {
  padding: $card-body-padding;
  zoom: 1;

  @include clearfix();
}

.#{$prefixCls}-loading {
  margin: $card-body-padding;
}

.#{$prefixCls}-meta {
  zoom: 1;
  display: flex;
  align-items: flex-start;

  &-avatar {
    //float: left;
    padding-right: $card-body-padding;
  }

  &-detail {
    overflow: hidden;

    .#{$prefixCls}-meta-title {
      color: $card-head-color;
      margin-bottom: 8px;
      font-size: 16px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .#{$prefixCls}-meta-description {
      color: $content-color;
    }
  }
}

.#{$prefixCls}-contain-grid {
  &:not(.#{$prefixCls}-loading) {
    .#{$prefixCls}-body {
      padding: 0;
      margin: -1px 0 0 -1px;
    }
  }
}

.#{$prefixCls}-grid {
  float: left;
  width: 33.33%;
  padding: $card-grid-padding;
  border: 0;
  border-radius: 0;
  transition: all 0.3s;
  box-shadow: 1px 0 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8, 1px 1px 0 0 #e8e8e8, 1px 0 0 0 #e8e8e8 inset, 0 1px 0 0 #e8e8e8 inset;

  &:hover {
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  }
}

.#{$prefixCls}-actions {
  margin: 0;
  padding: 0;
  border-top: $card-border;
  list-style: none;
  background: $card-actions-background;
  zoom: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-items: center;

  > li {
    margin: $card-head-padding 0;
    color: $text-color;
    text-align: center;
    float: left;
    width: 100%;
    cursor: pointer;

    &:hover {
      color: $link-color-hover;
      transition: color 0.3s;
    }

    &:not(:last-child) {
      border-right: $card-border;
      margin-right: -1px;
    }

    > i {
      font-size: 20px;
    }
  }
}
